* {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.recipes-list {
    font-size: 18px;
    width: 300px;
    margin: 5px auto;
    padding: 0 auto;
    text-align: center;
}

.recipe-button {
    padding: 10px;
    margin: 0 10px;
    border: 0;
}

.recipe-icon {
    width: 100px;
}

.recipe-img {
    height: auto;
    width: 300px;
}